::deep .nav-link.active {
    font-weight: 600;
    color: var(--clr-accent) !important;
}

::deep .nav-link:hover {
    color: var(--clr-accent) !important;
}

::deep .dropdown-item.active,
::deep .dropdown-item:active {
    background-color: rgba(0, 200, 255, 0.15);
    color: var(--clr-accent);
    font-weight: 600;
}

::deep .dropdown-item:hover {
    background-color: rgba(0, 200, 255, 0.1);
    color: var(--clr-accent);
}
