@implements IDisposable
@using WarpBusiness.Web.Services
@inject AuthStateService AuthState
@inject NavigationManager Nav

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Warp Business</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Contacts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="bi bi-building" aria-hidden="true"></span> Companies
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deals">
                <span class="bi bi-currency-dollar" aria-hidden="true"></span> Deals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activities">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Activities
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-3 border-top pt-2">
            @if (AuthState.IsAuthenticated)
            {
                <div class="nav-link text-white-50 small">
                    <span class="bi bi-person-circle me-1"></span>
                    @AuthState.UserFullName
                </div>
                <button class="btn btn-sm btn-outline-light w-100 mt-1" @onclick="Logout">
                    Sign out
                </button>
            }
            else
            {
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Sign In
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {
    protected override void OnInitialized()
    {
        AuthState.OnChange += StateHasChanged;
    }

    private void Logout()
    {
        AuthState.ClearAuth();
        Nav.NavigateTo("/login");
    }

    public void Dispose() => AuthState.OnChange -= StateHasChanged;
}
